{% extends 'adminheader.html' %}
{% block content1 %}
<form method="POST">
{% csrf_token%}
<br>
<br>
<h2 align="center" style="color:brown"> Public Details</h2>
<br>
<br>
{% if messages %}
{% for msg in messages %}
<script>alert('{{msg}}');</script>
{% endfor %}
{% endif %}     
<style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 95%;
              margin-left: 3%;
              border: #000000;
            }
           
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
           
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
<table align="center">
    {% if data %}
   <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th colspan="2">Contact</th>
   </tr>
    {% for x in data %}
    <tr>
        
        <td>{{x.name}}</td>
        <td>{{x.address}}</td>
        <td>{{x.email}}</td>
        <td>{{x.contact}}</td> 
        {% if x.email in sg %}
        <td><a href="/userinactive?id={{x.id}}">Block User</a></td>  
        {% endif %}
    </tr> 
    {% endfor %} 

    {% else %}
    
   <center><h1>No Data Found</h1></center>
    {% endif %}
</table>


{% endblock %}
