{% extends 'userheader.html' %}
{% block content1 %}
<form method="POST">
{% csrf_token%}
<br>
<br>
<h2 align="center" style="color:brown"> Complaint Status</h2>
<br>
<br>
<style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 95%;
              margin-left: 3%;
              border: #000000;
            }
           
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
           
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
<table align="center">
    {% if data %}
   <tr>
    <th>ID</th>
    <th>Updated Date</th>
    <th>Updates</th>
    <th>Status</th>
   </tr>
    {% for x in data %}
    <tr>
        
        <td>{{x.id}}</td>
        <td>{{x.udate}}</td>
        <td>{{x.updates}}</td>
        <th>{{x.cid.status}}</th> 
    </tr> 
    {% endfor %} 

    {% else %}
    
   <center><h1>No Data Found</h1></center>
    {% endif %}
</table>


{% endblock %}
