{% extends 'userheader.html' %}
{% block content1 %}
<form method="POST">
{% csrf_token%}
<br>
<br>
<h2 align="center" style="color:brown">Missing Person Status</h2>
<br>
<br>
<style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 95%;
              margin-left: 3%;
              border: #000000;
            }
           
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
           
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
<table align="center">
    {% if cmp %}
   <tr>
    <th>Person Name</th>
    <th>Missing Date</th>
    <th colspan="2">Missing Place</th>
   </tr>
    {% for x in cmp %}
    <tr> 
        <td>{{x.name}}</td>
        <td>{{x.missdate}}</td>
        <td>{{x.missplace}}</td>
        {% if cu %}
        <td><a href='/userviewmpersonupdate?id={{x.id}}'>View Updates</a></td> 
        {% endif %}
    </tr> 
    {% endfor %} 

    {% else %}
    
   <center><h1>No Data Found</h1></center>
    {% endif %}
</table>


{% endblock %}
