{% extends 'userheader.html' %}
{% block content1 %}
<form method="POST">
{% csrf_token%}
<br>
<br>
<h2 align="center" style="color:brown">Wanted List</h2>
<br>
<br>
<style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 95%;
              margin-left: 3%;
              border: #000000;
            }
           
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
           
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
<table align="center">
    {% if data %}
   <tr>
    <th>Criminal</th>
    <th>Gender</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Wanted From</th>
    <th>Photo</th>
    <th>Status</th>
   </tr>
    {% for x in data %}
    <tr> 
        <td>{{x.crid.name}}</td>
        <td>{{x.crid.gender}}</td>
        <td>{{x.crid.height}}</td>
        <td>{{x.crid.weight}}</td>
        <td>{{x.wdate}}</td>
        <td><img src="static/media/{{x.crid.photo}}" width="150px;" height="150px;"></td>
        <td>{{x.status}}</td> 
    </tr> 
    {% endfor %} 
    {% else %}
   <center><h1>No Data Found</h1></center>
    {% endif %}
</table>


{% endblock %}
